In [8]:
import pandas as pd 
import os

In [9]:
data = {
        "Name" : ["Shashank","Rishi","Lucky"],
        "Age" : [27,25,24],
        "Course" : ["DS","CS","DA"]

}

In [10]:
data

{'Name': ['Shashank', 'Rishi', 'Lucky'],
 'Age': [27, 25, 24],
 'Course': ['DS', 'CS', 'DA']}

In [11]:
df = pd.DataFrame(data)
df

       Name  Age Course
0  Shashank   27     DS
1     Rishi   25     CS
2     Lucky   24     DA

In [17]:
data_dir = "data"
os.makedirs(data_dir,exist_ok = True)

In [18]:
#define the file path 
file_path  = os.path.join(data_dir,"sample_data.csv")

In [20]:
df.to_csv(file_path,index=False)