In [21]:
import pandas as pd 
import os

In [22]:
data = {
        "Name" : ["Shashank","Rishi","Lucky"],
        "Age" : [27,25,24],
        "Course" : ["DS","CS","DA"]

}

In [23]:
data

{'Name': ['Shashank', 'Rishi', 'Lucky'],
 'Age': [27, 25, 24],
 'Course': ['DS', 'CS', 'DA']}

In [11]:
df = pd.DataFrame(data)
df

       Name  Age Course
0  Shashank   27     DS
1     Rishi   25     CS
2     Lucky   24     DA

In [24]:
# New data to add
new_data = [
    {"Name": "Charlie", "Age": 22, "Course": "AI/ML"},
    {"Name": "Diana", "Age": 28, "Course": "Cybersecurity"}
]

# Append new data
df = pd.concat([df, pd.DataFrame(new_data)], ignore_index=True)

In [25]:
df

       Name  Age         Course
0  Shashank   27             DS
1     Rishi   25             CS
2     Lucky   24             DA
3   Charlie   22          AI/ML
4     Diana   28  Cybersecurity

In [26]:
data_dir = "data"
os.makedirs(data_dir,exist_ok = True)

In [29]:
#define the file path 
file_path  = os.path.join(data_dir,"sample_data.csv")

In [30]:
df.to_csv(file_path,index=False)